
main table tbody td .statusBox{
    display: flex;
    justify-content: center;
}

main table tbody td .statusBox .status{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 2rem;
    height: 2rem; */
    background-color: transparent;
    /* cursor: pointer; */
    /* color: var(--color-dark); */
    color: var(--color-white);
    /* border: 1px dashed var(--color-dark-variant); */
    border-radius: var(--border-radius-2);
    transition: all 300ms ease;    
    padding: 2px;
}

main table tbody td .statusBox .status span{
    font-size: 1.7rem;
}

main table tbody td .status.active{    
    color: var(--color-status-good);
    /* background-color: var(--color-status-good);*/
}

main table tbody td .status.pay{
    color: var(--color-status-pay);
    /* background-color: var(--color-status-pay);*/
}

main table tbody td .status.pending{   
    color: var(--color-status-pending); 
    /* background-color: var(--color-status-pending);*/
}

main table tbody td .status.inactive{
    color: var(--color-status-inactive);
    /* background-color: var(--color-status-pending);*/
}