@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;0,800;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

    /*
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    */
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

/* ROOT VARIABLES */
:root {
    /* --color-primary: #7380ec; */
    --color-primary: #00aacd;    
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    --color-light-soft: #b5bdc5;

    --color-border: #f1f1f1;    

    --color-status-good: #4cdbf9;
    --color-status-pay: #f15a67;
    --color-status-pending: #f7cf92;    

    --card-border-radius: 1.0rem; /*1.5rem*/
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --margin-top: 1.2rem;
    --margin-top-space: 1rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
    /* --box-shadow: 0 0.5rem 0.5rem var(--color-light); */
    --box-shadow-inset: inset 0 2rem 3rem var(--color-light);
}

.dark-theme-variables{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

[data-theme="dark"]{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --color-border: #3a3a3a;    
    --box-shadow: 0 0.5rem 0.5rem var(--color-light);
}

.text-muted{
    color: var(--color-info-dark);
}

p{
    color:var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.warning {
    color: var(--color-warning);
}

.success {
    color: var(--color-success);
}

.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    /* background-color: red; */
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

a{
    color: var(--color-dark);
}

img{
    display: block;
    width: 100%;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;

}

h2{
    font-size: 1.4rem;
}

h3{
    font-size: 0.87rem;
}

h4{
    font-size: 0.8rem;
}

h5{
    font-size: 0.77rem;
}

small{
    font-size: 0.75rem;
}


button.button.md{ 
    width: 100px;
    height: 30px;
    border-radius: var(--border-radius-1);
    margin: 0 8px;

    font-weight: 600;

    cursor: pointer;

    &.primary{
        /* background-color: var(--color-primary); */
        
        background: linear-gradient(90deg, rgba(95,214,238,1) 9%, rgba(0,170,205,1) 100%);

        color: var(--color-white);        
    }
}

@media screen and (max-width: 1000px) {
    .container {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}