aside{
    height: 100vh;
    padding-top: 1.5rem;
    padding-left: 2rem;

    /* transition: all 0.3s ease-in-out; */

    & .top .logo h2 {    
        /* transition: all 0.3s ease-in-out; */
    }

    & .sidebar h3{
        /* transition: all 0.3s ease-in-out; */
    }
}

.mainContainer.collapsed aside{

    /* width: auto; */

    & .top{
        padding-left: 30px;
        /* transition: padding-left 0.3s ease-in-out; */
    }

    & .top .logo h2 {
        display: none;        
        /* transition: all 0.3s ease-in-out; */
    }

    & .sidebar h3{
        display: none;
        /* transition: all 0.3s ease-in-out; */
    }
}

aside .top{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    /* GOOD - WORKING  */
    transition: padding 0.3s ease-in-out;
}

aside .logo{
    display: flex;
    gap: 0.8rem;
}

aside .logo img{
    width: 2rem;
    height: 2rem;
}

aside .sidebar{
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 2rem;
}

aside h3{
    font-weight: 500;
}

aside .sidebar .sidebar-link{
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 300ms ease; /*  NOT DELETE */

/* TODELETE */
    animation: slide-left 0.3s ease-in-out;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active{
    background-color: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active::before{
    content: "";
    width: 6px;
    height: 100%;
    background-color: var(--color-primary);
}

aside .sidebar a.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover{
    color: var(--color-primary);
}

aside .sidebar a:hover span{
    margin-left: 1rem;
}

aside .sidebar .message-count{
    background-color: var(--color-danger);
    color: var(--color-white);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

/* Animations and transition for Icons in Sidbar */

aside .sidebar .sidebar-link span {
     /* Needed for transform animations:: display: block */
    display: block;
    animation: jump 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

aside.active .sidebar .sidebar-link span {
    /* Working */
    animation: slide-left 0.3s ease-in-out;
}

/* / Animations and transition for Icons in Sidbar / */

@keyframes slide-left {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}


/* @media (min-width: 500px) and (max-width: 779px) { */
@media (max-width: 779px) {
    aside{
        width: 100%;
        position: fixed;
        z-index: 10;
        background-color: var(--color-background);

        transform: translateX(-100%);        
    }

    .mainContainer.collapsed{
        grid-template-columns: 1fr;
    }

    .mainContainer.collapsed aside{
        transform: translateX(0);

        & .top{
            padding-left: 30px;
        }

        & .top .logo h2 {
            display: block;
        }

        & .sidebar h3{
            display: block;
        }
    }


    .mainContainer.collapsed aside .top button.menu-btn{
        right: 80%;
    }

}

/* @media (min-width: 780px) and (max-width: 1024px) { */
@media (max-width: 1024px) {
    aside{
        /* width: auto; */
    
        & .top{
            padding-left: 30px;
            /* transition: all 0.3s ease-in-out; */
        }
    
        & .top .logo h2 {
            display: none;
            /* transition: all 0.3s ease-in-out; */
        }
    
        & .sidebar h3{
            display: none;
            /* transition: all 0.3s ease-in-out; */
        }
     
    }

    .mainContainer.collapsed aside .top button.menu-btn{
        right: 40%;
    }

    /* .mainContainer.collapsed{
        grid-template-columns: 250px 1fr;
    } */

    aside.active{
        & .top{
            padding-left: 0px;
            /* transition: all 0.3s ease-in-out; */
        }
    
        & .top .logo h2 {
            display: block;
            /* transition: all 0.3s ease-in-out; */
        }
    
        & .sidebar h3{
            display: block;
            /* transition: all 0.3s ease-in-out; */
        }
    }
}