.containerForm{
  width: 80%;
  background-color: var(--color-white);  
  border-radius: var(--border-radius-2);

  box-shadow: var(--box-shadow);

  .pageTitle{
    margin: 15px 0 0 15px;
  }
}

.btn-blue{
  color: red;
  background-color: red;
}

form.formAddClient {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    width: 100%;
    padding: 15px 15px;
    
}

form.formAddClient > :last-child {
    grid-column: 1 / -1; /* Span from the first column to the last column */
}

form.formAddClient .inputGroup{
    display: flex;
    flex-direction: column;
    /* margin: 10px 0; */
    margin: 10px 0 5px 0;
    height: 70px;
}

@media (max-width: 1024px){

  form.formAddClient{
    grid-template-columns: 1fr;
  }

  form.formAddClient > .inputGroup.half {
    grid-column: 1/-1;
  }
}

form.formAddClient input, select{
    width: 100%;
    height: 40px;
    background-color: var(--color-white);
    padding-left: 15px;
    border-radius: var(--border-radius-1);
    border: 1px solid var(--color-border);
    font-weight: 300;
    color: var(--color-dark);

    & option:not(:first-of-type) {
      color: var(--color-dark);
    }

    & option:first-of-type {
      color: var(--color-dark-variant);
    }
}

form.formAddClient input::placeholder , select {
  color:var(--color-dark-variant);
}

/* Input date */
form.formAddClient input[type="date"]{
    padding-right: 15px;  
    color: var(--color-dark-variant);
}

/* When you are selecting Date */
input:focus::-webkit-datetime-edit {  
  color: var(--color-info-dark); 
}

form.formAddClient input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    border-radius: 4px;
    margin-right: 2px;
    opacity: 0.8;
    filter: invert(0.1);
    color-scheme: dark;
}

[data-theme="light"] form.formAddClient input[type="date"]::-webkit-calendar-picker-indicator{
  color-scheme: light;
}

[data-theme="dark"] form.formAddClient input[type="date"]::-webkit-calendar-picker-indicator{
  color-scheme: dark;
}
  
form.formAddClient input[type="date"]::-webkit-calendar-picker-indicator:hover {
    opacity: 1
}


.formBoxButtons{
    display: flex;
    justify-content: end;
}

.formBoxButtons button, .formBoxButtons .btn.cancelBtn{ 
    width: 100px;
    height: 30px;
    border-radius: var(--border-radius-1);
    margin: 0 8px;

    font-weight: 600;

    cursor: pointer;
}

.formBoxButtons button.cancelBtn, .formBoxButtons .btn.cancelBtn {
    background-color: var(--color-white);
    color: var(--color-info-dark);
    border: 1px solid #b9b9b9;
}

.formBoxButtons .btn.cancelBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formBoxButtons button.submit{
    color: white;
    background-color: #1cbbdb;
}

.inputGroupAvatar{
  display: flex;
  justify-content: space-between;

  margin-right: 30px;
  margin: 0 0 0 5px;

  transition: opacity 0.5s ease-in-out;

  & img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
}

.error-message {
  color: #fa5a5a;
  font-size: 0.875em;
  margin-top: 0.25em;
}


/* CHECK */
form.formAddClient .field-warning label, form.formAddClient .field-warning span{
  color: #fa5a5a;
  /* visibility: visible; */
}

form.formAddClient .field-warning input,form.formAddClient .field-warning select {  
  border: 1px solid #fa5a5a;
}

form.formAddClient .inputGroup span.optional{
  visibility: hidden;
}

/* form.formAddClient input[type="file"]{
  padding: 10px;    
}

form.formAddClient input[type="file"]::-webkit-file-upload-button{    
  border: 1px solid #b9b9b9;
  border-radius: 3px;
} */