.viewClients .card {
  width: 80%;
  /* height: 400px; */
  overflow: hidden;

  background-color: var(--color-white);
  border-radius: var(--border-radius-2);
  box-shadow: var(--box-shadow);
}

.viewClients .card-header {
  position: relative;
  /* border-bottom: 1px solid #eeeeee; */
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

}

.viewClients .card-header .header-box{
  display: flex;
  gap: 1rem; 
}

.viewClients .avatar {
  width: 4rem;
  height: 4rem;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  background-color: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.viewClients .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.viewClients .avatar-fallback {
  position: absolute;
  color: #9ca3af;
  font-size: 1.5rem;
  font-weight: bold;
}

.viewClients .header-info {
  display: grid;
  gap: 0.25rem;
}

.viewClients .header-info .name {
  font-size: 1.25rem;
  font-weight: 600;
}

.viewClients .header-info .next-date {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 0.8rem;
  color: #6b7280;


  & span{
    font-size: 1rem;
  }
}

.viewClients .status {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  width: 150px;
  height: 30px;

  border-radius: var(--border-radius-1);
  color: white; /*  NOT CHANGE TO VAR */
}

.viewClients .status span:first-of-type {
  font-size: 1rem;
}

.viewClients .status.good {
  background-color: var(--color-status-good);
}

.viewClients .status.pay {
  background-color: var(--color-status-pay);
}

.viewClients .status.pending {
  background-color: var(--color-status-pending);
}

.viewClients .status.inactive {
  background-color: var(--color-status-inactive);
}

.viewClients .card-content {
  padding: 1.5rem;
  padding-bottom: 2rem;
  display: grid;
  gap: 1rem;
}

.viewClients .content-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  padding: 0 1rem;
}

.viewClients .content-section{
  display: grid;
  gap: 0.3rem;
}

.viewClients .content-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.viewClients p{
  color: var(--color-info-dark);
}

.viewClients .label {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--color-dark-variant);
}

.viewClients .detailValue{
  margin-left: 0.5rem;
}

@media (max-width: 1024px) {

  .viewClients .content-row {
    grid-template-columns: 1fr;
  }
  
  .viewClients .status {
    width: 100px;
  }
}
